body {
    background: gray;
    background-image: url("https://cdn.pixabay.com/photo/2016/12/15/20/17/color-1909977_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

#main-title {
    color: black;
    font-size: 4vw;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    position: fixed;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

nav {
    background-image: linear-gradient(to right, red, yellow);
}

ul {
    display: flex;
    margin: 0;
}

li {
    list-style-type: none;
    font-size: 3vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    padding: 2vw;
    font-family: monospace;
    display: block;
}

a:hover {
    background-color: #EC3501;
}

button {
  display: none;
}

@media only screen and (max-width: 500px) {

  button {
    display: block;
  }

}
